table {
    width: 85%;
    margin: 0 auto;
    border: none !important;
}

tr, td {
    border: none !important;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.table {
    width: 100%;
}

.subheading {
    font-weight: 600;
}
  
.date {
    min-width: 18rem;
}

.logodiv {
    top: 2px;
    left: -30px;
    height: 30px;
    overflow: visible;
    padding: 0;
    float: left;
    vertical-align: middle;
    position: relative;
    width: 85px;
    display: none;
}

.ofhidden {
    overflow: hidden;
}

.dropdown {
    width: 50vw;
    float: right;
}

.navbg {
    background-color: rgb(10,58,42);
}

.body {
    background-image: linear-gradient(#00BCD4, rgb(0, 86, 95));
    padding-bottom: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ecc490;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #FF5722;
}

.nav-link-hover:hover {
    color: #FF5722;
}

.btn-dark {
    width: 130px;
    background-color: #FF5722;
    border-color: #FF5722;
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle, .btn-dark:hover, .navbar-dark .navbar-toggler:active, .navbar-dark .navbar-toggler:hover {
    color: #fff;
    background-color: rgb(110, 37, 15);
    border-color: rgb(110, 37, 15);
}

.navbar-dark .navbar-toggler {
    background-color: #FF5722;
    border-color: #FF5722;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

.speech-bubble {
    top: 2px;
    padding: 8px 15px;
    left: 10px;
    line-height: 1.5;
    font-weight: 400;
	position: relative;
	background-color: #fff;
	border-radius: .4em;
}

.speech-bubble:after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.375em solid transparent;
	border-right-color: #fff;
	border-left: 0;
	margin-top: -0.375em;
	margin-left: -0.375em;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
    padding: 100px 5vw 50px 5vw;
}

.white {
    color: #fff;
}

#logo {
    position: absolute;
    width: 90px;
}

#navbar-name {
    color: #FF5722;
}

#success {
    color: green;
    opacity: 0;
    display: none;
}

#failure {
    color: red;
    opacity: 0;
    display: none;
}

#about {
    background-color: #e9ecef;
    box-shadow: inset 0px -8px 8px -6px rgba(0,0,0,0.7); 
}

@media (min-width: 768px) {
    .logodiv {
        display: flex;
    }
}

/*@media only screen and (orientation: portrait) {
    body {
        overflow: hidden;
    }
}*/

@keyframes nav-fade {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

@keyframes nav-fade-revert {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@keyframes email-fade-in {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}